{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    div.container iFrame {
        height:2400px!important;
        overflow-y: auto;
    }
</style>

<section
  style="text-align: center; background: url('{% static 'images/color.jpg' %}') 50% 30%; background-size: cover; height: 40%;">
  <br>
  <h4>BOOK NOW</h4>
  Powered by <br><img src="{% static 'images/bookeo.svg' %}" style="height:80px;"/>
</section>
<br>
<div class="container" style="height:1000px;overflow-y: auto;">
    <script type="text/javascript" src="https://bookeo.com/widget.js?a=41565PUCXWF1602A78D228"></script>
</div>

{% endblock content %}
